@use 'transitions';

%button-basic {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

%button-primary {
    box-sizing: border-box;
    border-radius: 75vmax;
    background: var(--color-primary);
    border: 3px solid var(--color-primary-alt);
}

.menu-button {
    @extend %button-basic, %button-primary;
    aspect-ratio: 80 / 39;
    width: 100%;
}
