:root {
  font-family: "Rubik One";

  --font-button: "Rubik One";

  --color-primary: #5a86bf;
  --color-primary-alt: #668cd9;
  --color-secondary: #1a1f26;

  --color-shadow: #002222;
}

html,
body,
#app {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@font-face {
  font-family: "Rubik One";
  font-style: normal;
  font-weight: normal;
  src: local("Rubik One"), url("RubikOne-Regular.ttf");
}
